## DataFrame 살펴보기
- Dict 데이터로 DF 저장

In [1]:
# 모듈 생성
import pandas as pd

In [2]:
# 데이터 준비
jumsu = {"국어" : [89, 91], "수학" : [98, 92], "음악" : [100, 100]}

In [3]:
# DF로 데이터 저장
df1 = pd.DataFrame(jumsu)

In [4]:
# DF로 저장된 데이터 확인
# key = column 명이 됨 
# values 값이 열로 들어감 // 리스트는 하나의 값이 행으로 들어감
df1

   국어  수학   음악
0  89  98  100
1  91  92  100

[속성으로 행 인덱스 변경] : 객체 변수명.index = 새로운 인덱스

In [5]:
# 현재 인덱스 0, 1 => "마징가", "홍길동"
df1.index = ["마징가", "홍길동"]
df1

     국어  수학   음악
마징가  89  98  100
홍길동  91  92  100

In [6]:
# 칼럼 인덱스 ==> "국어", "미술", "과학"
df1.columns = ["국어", "미술", "과학"] # 일부를 변경하더라도 다 적어야 함
df1

     국어  미술   과학
마징가  89  98  100
홍길동  91  92  100

In [7]:
# 값을 저장하고 있는 속성 ==> values
df1.values # 값을 읽어오는 것

array([[ 89,  98, 100],
       [ 91,  92, 100]], dtype=int64)

In [8]:
# 값/데이터 변경은 속성으로 불가 !! 
# df1.values = [[89, 78, 29], [23, 45,99]]

In [9]:
# 형태 변경은 속성으로 불가 !!
# df1.shape = (3,2) # 2행 3열을 3행 2열로 바꾸는 거 불가능