### DataFrame에서 원소/요소 읽기 
- 행 읽기, 열 읽기 
- 행과 열이 교차하는 지점 원소/요소 읽기

In [1]:
# 모듈 로딩
import pandas as pd

In [2]:
# 데이터 준비
jumsu = [[98, 99, 93], [100, 100, 93]]

In [4]:
# 2차원 데이터를 DF로 저장
df1 = pd.DataFrame(jumsu)
df1

     0    1   2
0   98   99  93
1  100  100  93

In [6]:
# 행 인덱스와 열 인덱스 속성으로 지정
# 행 인덱스 => 김경태, 조순흠
# 열 인덱스 => 음악, 영어, 무용
df1.index = ["김경태", "조순흠"]
df1.columns = ["음악", "영어", "무용"]
df1

      음악   영어  무용
김경태   98   99  93
조순흠  100  100  93

- [열/컬럼 선택] : 변수명[컬럼명/컬럼 인덱스]

In [8]:
# 영어과목 점수만 추출
print(df1["영어"], type(df1["영어"]), sep = "\n\n")

김경태     99
조순흠    100
Name: 영어, dtype: int64

<class 'pandas.core.series.Series'>

In [10]:
# 무용과목 점수만 추출
df1.무용 # []없이 컬러인덱스만 적어도 가능함 (1개 일떄만)

김경태    93
조순흠    93
Name: 무용, dtype: int64

In [16]:
# 음악, 무용 컬럼 추출 
df1[["음악", "무용"]]

      음악  무용
김경태   98  93
조순흠  100  93

In [18]:
# 칼럼을 가지고 올 때는 슬라이싱으로 가져오면 못 가져옴 (행 까지 지정해서 가져와야함) 
# df1["음악":"무용":1] ==> ERROR // 뒤에 범위 지정도 말 안들음

Empty DataFrame
Columns: [음악, 영어, 무용]
Index: []

In [20]:
df1[df1.columns]

      음악   영어  무용
김경태   98   99  93
조순흠  100  100  93

In [24]:
print(df1.columns, df1.columns[1:], df1.columns[::2], sep = "\n") # 컬럼만 가지고 올때는 슬라이싱 가능

df1[df1.columns[::2]]

Index(['음악', '영어', '무용'], dtype='object')
Index(['영어', '무용'], dtype='object')
Index(['음악', '무용'], dtype='object')

      음악  무용
김경태   98  93
조순흠  100  93

- [행/로우 선택] : 변수명.iloc[행 인덱스], 변수명.loc[행 인덱스]

In [11]:
# 변수명.ILOC[정수 인덱스] : 정수인덱스만 가능함
df1.iloc[0]  # type Series

음악    98
영어    99
무용    93
Name: 김경태, dtype: int64

In [15]:
# df1.iloc["김경태"] => ERROR // 정수인덱스만 들어와야함

In [14]:
# 변수명.loc[행 인덱스] ==> 문자 인덱스로 추출 가능
df1.loc["김경태"]

음악    98
영어    99
무용    93
Name: 김경태, dtype: int64

In [25]:
# df1.loc[0] => ERROR // 현재의 행 인덱스만 들어와야함

In [27]:
# 여러개의 행 추출
df1.loc[["조순흠", "김경태"]]

      음악   영어  무용
조순흠  100  100  93
김경태   98   99  93

In [31]:
# index 속성
print(df1.index, df1.index[1:], df1.index[::-1], sep = "\n")

df1.loc[df1.index[::-1]]

Index(['김경태', '조순흠'], dtype='object')
Index(['조순흠'], dtype='object')
Index(['조순흠', '김경태'], dtype='object')

      음악   영어  무용
조순흠  100  100  93
김경태   98   99  93

- [원소/요소 추출] : 변수명.iloc[정수인덱스][열인덱스] / 변수명.loc[행인덱스][열인덱스]

In [34]:
# 김경태님의 영어 점수만 추출
# df1["김경태"]["영어"] ==> ERROR 
df1.loc["김경태"]["영어"] # 값만 나옴

99

In [37]:
df1.iloc[0]["영어"], df1.iloc[0][1]

C:\Users\hwans\AppData\Local\Temp\ipykernel_17748\2490267756.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1.iloc[0]["영어"], df1.iloc[0][1]

(99, 99)

- [원소/요소 추출] : 변수명.iloc[정수인덱스, 열 인덱스] / 변수명.loc[행인덱스, 열인덱스]

In [40]:
# 김경태님의 영어 점수 추출
df1.iloc[0, 1]
# df1.iloc[0, "영어"] # ==> ERROR iloc[정수 인덱스, 정수 인덱스]만 가능

99

In [42]:
df1.loc["김경태", "영어"]

99

In [47]:
## [문제] 김경태의 영어, 무용 점수 추출
df1.iloc[0, 1:], df1.loc["김경태", ["영어", "무용"]]

(영어    99
 무용    93
 Name: 김경태, dtype: int64,
 영어    99
 무용    93
 Name: 김경태, dtype: int64)

In [49]:
df1.loc[:, "음악"], df1.loc[df1.index,"음악"]

(김경태     98
 조순흠    100
 Name: 음악, dtype: int64,
 김경태     98
 조순흠    100
 Name: 음악, dtype: int64)