### 데이터 활용 방법 - 전치 
 - 행과 열을 서로 바꾸는 것
 - 방법 (2가지)
   - (1) 메서드 : 변수명.transpose()
   - (2) 속성 : 변수명.T

In [1]:
# 모듈 로딩
import pandas as pd

In [2]:
# 데이터 준비
file_name = 'data.csv'

In [12]:
# csv 파일 데이터 => dataframe 형태로 저장
csvDF = pd.read_csv(file_name)
csvDF

   no name  age gender
0   1  hog   10      F
1   2  GOG   14      F
2   3  LIM   23      M
3   4  LEE   24      M
4   5  KIM   19      F

In [14]:
# datafrmae 형태 변경 (행 <-> 열)
print("변경 전", csvDF.index, csvDF.columns, csvDF, sep = "\n")

csvDF = csvDF.T
print("변경 후", csvDF.index, csvDF.columns, csvDF, sep = "\n")
csvDF

변경 전
Index(['no', 'name', 'age', 'gender'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
          0    1    2    3    4
no        1    2    3    4    5
name    hog  GOG  LIM  LEE  KIM
age      10   14   23   24   19
gender    F    F    M    M    F
변경 후
RangeIndex(start=0, stop=5, step=1)
Index(['no', 'name', 'age', 'gender'], dtype='object')
  no name age gender
0  1  hog  10      F
1  2  GOG  14      F
2  3  LIM  23      M
3  4  LEE  24      M
4  5  KIM  19      F

  no name age gender
0  1  hog  10      F
1  2  GOG  14      F
2  3  LIM  23      M
3  4  LEE  24      M
4  5  KIM  19      F

In [15]:
# 메서드 transpose() 사용
csvDF = csvDF.transpose()
print("변경 후", csvDF.index, csvDF.columns, csvDF, sep = "\n")

변경 후
Index(['no', 'name', 'age', 'gender'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
          0    1    2    3    4
no        1    2    3    4    5
name    hog  GOG  LIM  LEE  KIM
age      10   14   23   24   19
gender    F    F    M    M    F