### [DataFrame의 인덱스 다루기 - 1 ]
- 인덱스의 종류 : 행 인덱스, 열 인덱스
- 특정 열을 행 인덱스로 설정하는 방법
- 메서드 : df.set_index( 열 인덱스, inpalace = False ) # 열을 행으로 바꾸겠다

In [1]:
# [1] 모듈 로딩
import pandas as pd

In [2]:
# [2] Data 준비
jumsu = {"name" : ["마징가", "태권V", "원더우먼"],
         "kor" : [89, 80, 78],
         "eng" : [75, 75, 76],
         "math" : [78, 80, 82]}

In [4]:
# [3] Dict ==> DataFrame 형테러 저장
jumsuDF = pd.DataFrame(jumsu)

jumsuDF

   name  kor  eng  math
0   마징가   89   75    78
1   태권V   80   75    80
2  원더우먼   78   76    82

In [10]:
# [4] name columns을 행 index로 설정
DF2 = jumsuDF.set_index("name")
DF2

      kor  eng  math
name
마징가    89   75    78
태권V    80   75    80
원더우먼   78   76    82

In [8]:
jumsuDF # 원본은 바뀌지 않은 , inplace = False기 때문

   name  kor  eng  math
0   마징가   89   75    78
1   태권V   80   75    80
2  원더우먼   78   76    82

In [11]:
# DF2 데이터프레임의 행 인덱스/열 인덱스 확인
print(DF2.index, DF2.columns, sep = "\n")

Index(['마징가', '태권V', '원더우먼'], dtype='object', name='name')
Index(['kor', 'eng', 'math'], dtype='object')

In [14]:
# [5] Data 추출 
# - 마장기의 성적 추출, 즉 행 추출 ==> 변수명.loc[] or 변수명.iloc[]
print(DF2.loc["마징가"], DF2.iloc[0], sep = "\n")
# 타입은 series

kor     89
eng     75
math    78
Name: 마징가, dtype: int64
kor     89
eng     75
math    78
Name: 마징가, dtype: int64

In [18]:
# [5] Data 추출 
# 마징가, 원더우먼의 성적 추출 
print(DF2.loc[["마징가", "원더우먼"]])
print(DF2.iloc[[0,2]])

      kor  eng  math
name
마징가    89   75    78
원더우먼   78   76    82
      kor  eng  math
name
마징가    89   75    78
원더우먼   78   76    82

In [21]:
# [6] 영어 점수 칼럼을 행 인덱스로 설정
DF3= jumsuDF.set_index("eng")
DF3

     name  kor  math
eng
75    마징가   89    78
75    태권V   80    80
76   원더우먼   78    82

In [22]:
# [6] name, eng 칼럼 행 인덱스 지정 => 멀티인덱스
DF4 = jumsuDF.set_index(["name", "eng"])
DF4

          kor  math
name eng
마징가  75    89    78
태권V  75    80    80
원더우먼 76    78    82

In [23]:
DF4.index

MultiIndex([( '마징가', 75),
            ( '태권V', 75),
            ('원더우먼', 76)],
           names=['name', 'eng'])

In [27]:
## 멀티인덱스에서 행 추출
DF4.loc[("마징가", 75)]

kor     89
math    78
Name: (마징가, 75), dtype: int64