### [Series 연산 - 3]
- Series와 Series 연산 수행
- 각 Series에서 해당하는 인덱스의 요소끼리 연산 수행

In [48]:
# [1] 모듈로딩
import pandas as pd
import math 
import numpy as np

In [49]:
# 빈칸 즉, 비어있다는 의미를 나타내는 문자 ==> pandas에 없음
# math 모듈과 numpy 모듈 사용
math.nan, np.nan

(nan, nan)

In [50]:
# [2] Data 준비
bibibig = [13, 600, np.nan, 1500, 0]
merona = [32, 700, 1200, 1500]

In [51]:
# [3] 1차원 data ==> Series 형태 저장
sr1 = pd.Series(bibibig) # 4바이트만 쓰는 경우 : sr1 = pd.Series(bibibig, dtype = "int16")
sr2 = pd.Series(merona)

In [52]:
# [4-1] 연산수행 : Series + 5
# - 덧셈 
# - 산술연산 (nan은 제외하고 모두 계산)
sr1 + 5

0      18.0
1     605.0
2       NaN
3    1505.0
4       5.0
dtype: float64

In [53]:
# - 뺄셈 
sr1 - sr2

0    -19.0
1   -100.0
2      NaN
3      0.0
4      NaN
dtype: float64

In [54]:
# 곱셈
sr1 * sr2

0        416.0
1     420000.0
2          NaN
3    2250000.0
4          NaN
dtype: float64

In [55]:
# 나눗셈 
sr1 / sr2

0    0.406250
1    0.857143
2         NaN
3    1.000000
4         NaN
dtype: float64

In [56]:
# 비교연산
# - nan을 FLASE로 처리
sr1 = sr2

In [57]:
# 비교연산

In [58]:
sr1 <= sr2

0    True
1    True
2    True
3    True
dtype: bool

In [59]:
# [4-2] 연산수행 : Series + Series
# - 산술연산
sr1 + sr2

0      64
1    1400
2    2400
3    3000
dtype: int64

In [60]:
# 비교연산
sr1 != sr2

0    False
1    False
2    False
3    False
dtype: bool

In [61]:
# [5] 인덱스가 다른 Series끼리 연산 수행
# - sr3 생성 : sr2에서 인덱스 변경 (현재 [0, 1, 2, 3] => [0, 2, 3, 4])
sr3 = sr2.rename(index = {1:2, 2:3, 3:4})
sr3

0      32
2     700
3    1200
4    1500
dtype: int64

In [62]:
# 산술연산 
# 인덱스의 값을 맞추는데 아니라 같은 인덱스끼리 더함 nan 값 + 값은 = nan
sr2 + sr3

0      64.0
1       NaN
2    1900.0
3    2700.0
4       NaN
dtype: float64

In [65]:
# 비교연산 ==> ERROR
# sr2 > sr3

In [68]:
sr3 = sr3.reset_index(drop = True) # sr2와 인덱스 맞춰주기

In [69]:
sr2 > sr3

0    False
1    False
2    False
3    False
dtype: bool

In [73]:
# [6] nan에 대한 연산 수행을 못하는 것 해결 메서드 
# fill_value : 빈칸 즉, nan에 값을 지정
sr1.add(sr2, fill_value = 0.) # nsn 값을 0을 줌

0      64
1    1400
2    2400
3    3000
dtype: int64

In [74]:
# 인덱스가 다른 sr 시리즈 연산에서 메서드 사용
sr3 = sr2.rename(index = {1:2, 2:3, 3:4})
sr2.add(sr3, fill_value=0.0)

0      64.0
1     700.0
2    1900.0
3    2700.0
4    1500.0
dtype: float64