[Series & DataFrame 연산]

In [7]:
# [1] 모듈 로딩
import pandas as pd

In [8]:
# [2] 데이터 
file_name = "data1.csv"

In [9]:
# [3] CSV File ==> DataFrame 형태 저장
csvDF = pd.read_csv(file_name, header=None)

In [10]:
csvDF

    0   1   2
0  10  20  30
1  90  80  70
2  66  55  44
3  90  90  90
4   5   5   5

In [17]:
# [4] 연산실습
# 0번 컬럼과 2번 컬럼 덧셈연산 수행
result = csvDF[2] + csvDF[0]
result

0     40
1    160
2    110
3    180
4     10
dtype: int64

In [19]:
# 0번 칼럼과 2번 칼럼까지 덧셈 수행
result = csvDF[2] + csvDF[0] + csvDF[1]
result

0     60
1    240
2    165
3    270
4     15
dtype: int64

In [21]:
# 3개 칼럼 덧셈 결과를 새로운 칼럼으로 추가하기
csvDF["Total"] = result
csvDF

    0   1   2  Total
0  10  20  30     60
1  90  80  70    240
2  66  55  44    165
3  90  90  90    270
4   5   5   5     15

In [22]:
# 행 5 추가 => 데이터 : 각 칼럼의 값을 모두 더한 값
result2 = csvDF.loc[0] + csvDF.loc[1] + csvDF.loc[2] + csvDF.loc[3] + csvDF.loc[4]
result2

0        261
1        250
2        239
Total    750
dtype: int64

In [24]:
csvDF.loc[5] = result2
csvDF

     0    1    2  Total
0   10   20   30     60
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
4    5    5    5     15
5  261  250  239    750

In [28]:
# [5] 연산수행 메서드 : 합계 sum, 최대값 max, 최소값 min
SR0 = csvDF[0]
print("합계 : ", SR0.sum())
print("최대값 : ", SR0.max())
print("최소값 : ", SR0.min())

합계 :  522
최대값 :  261
최소값 :  5

In [29]:
# DataFrame으로 연산수행 메서드
csvDF

     0    1    2  Total
0   10   20   30     60
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
4    5    5    5     15
5  261  250  239    750

In [32]:
# DataFrame에서 합계 계산 
# sum 기본 값은 행 기준 ==> 행에 있는 모든 값을 다 더하기 떄문에 결과 값은 열의 합계가 나옴
# 각 행 데이터를 모아서 합계 수행 => 칼럼마다 행들을 모아서 합계 수행 
print("합계 : ", csvDF.sum(), sep ="\n")

# 열의 값을 더해주는데 모든 열의 값을 더해주기 때문에 결과값이 행의 합계가 나옴
# 각 컬럼 데이터를 모아서 합계 수행 => 행 마다 칼럼들을 모아서 계산 수행
print("합계 : ", csvDF.sum(axis = 1), sep ="\n")

합계 :
0         522
1         500
2         478
Total    1500
dtype: int64
합계 :
0     120
1     480
2     330
3     540
4      30
5    1500
dtype: int64

In [33]:
# DataFrame 최대값 계산
# 0 ~ total 칼럼에 있는 모든 행 중에서 최대값을 뽑음
print("최대값 : ", csvDF.max(), sep ="\n")
print("최대값 : ", csvDF.max(axis = 1), sep ="\n")

최대값 :
0        261
1        250
2        239
Total    750
dtype: int64
최대값 :
0     60
1    240
2    165
3    270
4     15
5    750
dtype: int64

In [35]:
# DataFrame 최소값 계산
# 0 ~ 5 행에 있는 모든 칼럼 중에서 최소값을 뽑음
print("최소값 : ", csvDF.min(), sep ="\n")
print("최소값 : ", csvDF.min(axis = 1), sep ="\n")

최소값 :
0         5
1         5
2         5
Total    15
dtype: int64
최소값 :
0     10
1     70
2     44
3     90
4      5
5    239
dtype: int64

#### 연산과 데이데 추출
- 연산결과와 data 추출을 함께 진행

In [41]:
# Total이 100 이상인 data만 추출
# 비교 연산 결과 ==> True / False : Boolean Index
bool_index = csvDF.Total > 100
bool_index

0    False
1     True
2     True
3     True
4    False
5     True
Name: Total, dtype: bool

In [42]:
# Boolean Index 즉, 특정 데잍터 추출에 사용 가능
# csv[칼럼 인덱스], csv.(i)loc[행 인덱스]
csvDF[bool_index] # True 값만 추출

     0    1    2  Total
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
5  261  250  239    750