In [139]:
# p73
import pandas as pd

In [140]:
dict_data = {"a":1, "b":2, "c":3}

In [141]:
sr = pd.Series(dict_data)
sr

a    1
b    2
c    3
dtype: int64

In [142]:
print(type(sr))
print("\n")
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [143]:
# p76
list_data = ["2019-01-02", 3.14, "ABC", 100, True]

In [144]:
sr = pd.Series(list_data)
sr

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [145]:
idx = sr.index
idx

RangeIndex(start=0, stop=5, step=1)

In [146]:
val = sr.values
val

array(['2019-01-02', 3.14, 'ABC', 100, True], dtype=object)

In [147]:
# p77
tup_data = ("영인", "2010-05-01", "여", True)
sr = pd.Series(tup_data)
sr

0            영인
1    2010-05-01
2             여
3          True
dtype: object

In [148]:
sr = pd.Series(tup_data, index = ["name", "birth", "gender", "stedent"])
sr

name               영인
birth      2010-05-01
gender              여
stedent          True
dtype: object

In [149]:
print(sr[0])
print(sr["name"])

영인
영인

C:\Users\hwans\AppData\Local\Temp\ipykernel_5224\3869728290.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])

In [150]:
print(sr[[1,2]])

birth     2010-05-01
gender             여
dtype: object

C:\Users\hwans\AppData\Local\Temp\ipykernel_5224\2005144105.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[1,2]])

In [151]:
print(sr[["birth", "gender"]])

birth     2010-05-01
gender             여
dtype: object

In [152]:
print(sr[1:2])

birth    2010-05-01
dtype: object

In [153]:
print(sr["birth":"gender"])

birth     2010-05-01
gender             여
dtype: object

In [154]:
# p82
dict_data = {"c0":[1, 2, 3], "c1" : [4, 5, 6], "c2" : [7, 8, 9], "c3" : [10, 11, 12], "c4" : [13, 14, 15]}
df = pd.DataFrame(dict_data)
df

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [155]:
type(df)

pandas.core.frame.DataFrame

In [156]:
# p84
df = pd.DataFrame([[15, "남", "덕영중"], [17, "여", "수리중"]],
                  index = ["준서", "예은"],
                  columns = ["나이", "성별", "학교"])

print("df ========================= \n", df)

df =========================
     나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [157]:
df.index

Index(['준서', '예은'], dtype='object')

In [158]:
df.columns

Index(['나이', '성별', '학교'], dtype='object')

In [159]:
# p85
df.index = ["학생1", "학생2"]
df.columns = ["연령", "남녀", "소속"]
df

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [160]:
print(df.index)
print(df.columns)

Index(['학생1', '학생2'], dtype='object')
Index(['연령', '남녀', '소속'], dtype='object')

In [161]:
# p87
df2 = df.rename(columns = {"나이":"연령", "성별":"남녀", "학교":"소속"})
df3 = df.rename(index = {"준서":"학생1", "예은":"학생2"}, inplace = True)
print(df2)
print(df3)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중
None

In [162]:
# p89
exam_data = {"수학":[90, 80, 70], "영어":[98, 89, 95], "음악":[85, 95, 100], "체육" : [100, 90, 90]}
df = pd.DataFrame(exam_data, index = ["서준", "우현", "인아"])
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [163]:
df2 = df[:]
df2.drop("우현", inplace = True)
df2

C:\Users\hwans\AppData\Local\Temp\ipykernel_5224\4173241593.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop("우현", inplace = True)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [164]:
df3 = df[:]
df3.drop(["우현", "인아"], axis = 0, inplace = True)
df3

C:\Users\hwans\AppData\Local\Temp\ipykernel_5224\2374667594.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(["우현", "인아"], axis = 0, inplace = True)

    수학  영어  음악   체육
서준  90  98  85  100

In [165]:
# p90
exam_data = {"수학":[90, 80, 70], "영어":[98, 89, 95], "음악":[85, 95, 100], "체육" : [100, 90, 90]}
df = pd.DataFrame(exam_data, index = ["서준", "우현", "인아"])
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [166]:
df4 = df[:]
df4.drop("수학", axis=1, inplace=True)
df4

C:\Users\hwans\AppData\Local\Temp\ipykernel_5224\3864050703.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop("수학", axis=1, inplace=True)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

In [167]:
df5 = df[:]
df5.drop(["영어", "음악"], axis = 1)

    수학   체육
서준  90  100
우현  80   90
인아  70   90

In [168]:
# p92
exam_data = {"수학":[90, 80, 70], "영어":[98, 89, 95], "음악":[85, 95, 100], "체육" : [100, 90, 90]}
df = pd.DataFrame(exam_data, index = ["서준", "우현", "인아"])
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [169]:
label1 = df.loc["서준"]
position1 = df.iloc[0]
print(label1)
print(position1)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [170]:
label2 = df.loc[["서준", "우현"]]
position2 = df.iloc[[0,1]]
print(label2)
print(position2)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [173]:
# label3 = df.loc["서준", "우현"]
# position3 = df.loc[0:1]
# print(label3)
# print(position3)

In [174]:
# p95
exam_data = {"이름" : ["서준","우현","인아"],
             "수학":[90, 80, 70], 
             "영어":[98, 89, 95], 
             "음악":[85, 95, 100], 
             "체육" : [100, 90, 90]}