In [61]:
# [1] 모듈로딩
import pandas as pd

In [62]:
# [2] Data 준비
file1 = "test_data3.csv"

In [63]:
# [3] CSV => DataFrame 형태로 저장
df1 = pd.read_csv(file1)
df1

   index col1  col2  col3
0   2020   서울    10    20
1   2020   대구    11    22
2   2021   서울    10    20
3   2021   대구    11    22
4   2021   대구    12    23

In [64]:
# [4] 데이터추출
# [4-1] 대구관련 데이터 추출
df1["col1"] == "대구"

0    False
1     True
2    False
3     True
4     True
Name: col1, dtype: bool

In [65]:
df1[df1["col1"] == "대구"]

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    12    23

In [66]:
# [4-2] index와 col1 칼럼을 행 인덱스로 설정
df2 = df1.set_index(["index", "col1"])
df2

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    20
      대구      11    22
      대구      12    23

In [67]:
# index 속성
df2.index, df2.values

(MultiIndex([(2020, '서울'),
             (2020, '대구'),
             (2021, '서울'),
             (2021, '대구'),
             (2021, '대구')],
            names=['index', 'col1']),
 array([[10, 20],
        [11, 22],
        [10, 20],
        [11, 22],
        [12, 23]], dtype=int64))

In [68]:
# 2020년도 대구 데이터를 추출
df2.loc[("2020", "대구")]

C:\Users\hwans\AppData\Local\Temp\ipykernel_27920\4094643526.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[("2020", "대구")]

            col2  col3
index col1
2020  대구      11    22

In [69]:
# 2021년도 대구 데이터를 추출
df2.loc[("2021", "대구")]

C:\Users\hwans\AppData\Local\Temp\ipykernel_27920\884010894.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[("2021", "대구")]

            col2  col3
index col1
2021  대구      11    22
      대구      12    23

In [70]:
# 2020년 대구 값 바꾸기
df2.loc[("2020", "대구")] = [9,9]
df2

C:\Users\hwans\AppData\Local\Temp\ipykernel_27920\3243780302.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[("2020", "대구")] = [9,9]

            col2  col3
index col1
2020  서울      10    20
      대구       9     9
2021  서울      10    20
      대구      11    22
      대구      12    23

In [71]:
# 2021년도 대구 데이터 변경
df2.loc[("2021", "대구")] = [3,3]
df2 # 2021, 대구에 해당하는 모든 값들의 값이 변경

C:\Users\hwans\AppData\Local\Temp\ipykernel_27920\3642145320.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[("2021", "대구")] = [3,3]

            col2  col3
index col1
2020  서울      10    20
      대구       9     9
2021  서울      10    20
      대구       3     3
      대구       3     3

In [72]:
# 행 추가 => (년도, 지역명)
# df2.loc[(2022, "부산")] = 0 # 행 : 2022, 열 : 부산으로 인식해서 열이 추가됨
df2.loc[(2022, "부산"), :] = 0

C:\Users\hwans\AppData\Local\Temp\ipykernel_27920\3600021079.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, "부산"), :] = 0

In [73]:
df2.loc[(2022, "마산"), :] = [10, 20]

C:\Users\hwans\AppData\Local\Temp\ipykernel_27920\3696438320.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, "마산"), :] = [10, 20]
C:\Users\hwans\AppData\Local\Temp\ipykernel_27920\3696438320.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, "마산"), :] = [10, 20]

In [77]:
df2.loc[(2022, "울산"), :] = [pd.Series({"col2":8, "col3":14})] # 시리지는 이터러블이 아니기에 행이 중복되는게 많아서 []로 묶어야함

C:\Users\hwans\AppData\Local\Temp\ipykernel_27920\1721821692.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, "울산"), :] = [pd.Series({"col2":8, "col3":14})]

In [79]:
df2.loc[(2022, "경산"), :] = [pd.Series({"col2":99, "col3":44})]

C:\Users\hwans\AppData\Local\Temp\ipykernel_27920\3975887315.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, "경산"), :] = [pd.Series({"col2":99, "col3":44})]
C:\Users\hwans\AppData\Local\Temp\ipykernel_27920\3975887315.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, "경산"), :] = [pd.Series({"col2":99, "col3":44})]

In [80]:
df2

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0
      마산    10.0  20.0
      울산     8.0  14.0
      경산    99.0  44.0

In [81]:
# [4-3] index와 col1 칼럼을 행 인덱스로 설정
df3 = df1.set_index(["index", "col1","col2"])
df3

                 col3
index col1 col2
2020  서울   10      20
      대구   11      22
2021  서울   10      20
      대구   11      22
           12      23

In [82]:
df3.xs(10, level=2)

            col3
index col1
2020  서울      20
2021  서울      20